*{
    font-family: "Quattrocento", serif;
    
}

body{
    background-color: white;
}

header{
  
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #1a529c;
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    justify-content: center;

   
}
.container img{
    display: flex;
    justify-content: left;
    margin: 10px;
    padding: 10px;
}
.container span{
    display: flex;
    justify-content: left;
    margin: 60px;
    padding: 10px;
    font-size: 50px;
    color: white;
}
nav ul {
    margin: 0;
    padding: 0;
}
.navigation {
    display: flex;
    justify-content:space-around;
    list-style: none;
    background-color: black;
    padding: 20px;
    font-size: 20px;
    
}
.navigation a:hover, navigation a:active {
    color: rgb(192, 77, 77);
}
.navigation a {
    display: flex;
    list-style: none;
    color: white;
    text-decoration: none;
}
.navigation li {
     margin-right: 10px;
}

footer{
    background-color:rgb(15, 120, 182);
    padding: 20px;
    text-align: center;
    font-size: 25px;
    color: white;
}

.card{

    background-color: rgba(187, 38, 38, 0.884);
    border-radius: 5px;
    color: white;
    justify-content: center;
}