*{
    font-family: "Quattrocento", serif;
    
}


h1{
    text-align: left;
    padding: 10px;
    margin: 10px;
    }

.prove{
    margin: 1rem auto;
    border: 1px solid rgb(0 0 0 / 0.1);
    padding: 0.5rem;
    background-color: #333;
    text-align: center;
}

.prove button{
    padding: 1rem;
    font-weight: 700;
}
.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 1rem;
}
.grid section{
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: #eee;
    border: 1px solid rgb(0 0 0/ 10%);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.grid section > * {
    margin: 0.1rem;
}


.grid section > p {
    min-height: 60px;
    font-size: 19px;
    text-align: center;
}

.grid img{
    width: auto;
    max-width: 325px;
    box-shadow: 0 0 30px #777;
    height: 200px;
    border: 1px solid #111;
}
.grid a{
    min-height: 60px;
    font-size: 19px;
    text-align: center;
}





/**/
.list{
    display: flex;
    flex-direction: column;
}
.list section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0;
    padding: 0.25rem;

}
.list section img{
    display: none;
}

.list section h2 {
    font-size: 1rem;
}

.list section:nth-child(even) {
    background-color: #bbb;
}




 /**/
body{
    background-color: white;
}

header{
  
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #1a529c;
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    justify-content: center;

   
}
.container img{
    display: flex;
    justify-content: left;
    margin: 10px;
    padding: 10px;
}
.container span{
    display: flex;
    justify-content: left;
    margin: 60px;
    padding: 10px;
    font-size: 50px;
    color: white;
}
nav ul {
    margin: 0;
    padding: 0;
}
.navigation {
    display: flex;
    justify-content:space-around;
    list-style: none;
    background-color: black;
    padding: 20px;
    font-size: 20px;
    
}
.navigation a:hover, navigation a:active {
    color: rgb(192, 77, 77);
}
.navigation a {
    display: flex;
    list-style: none;
    color: white;
    text-decoration: none;
}
.navigation li {
     margin-right: 10px;
}

footer{
    display: flex;
    justify-content: space-around;
    background-color:rgb(15, 120, 182);
    padding: 20px;
    text-align: center;
    font-size: 25px;
    color: white;
}

.izq{
    
    text-align: left;
}

.der{
    text-align: right;
}

/**/


h2,h3,p, figure{
    font-size: 30px;
    box-shadow: rgb(128, 128, 91);
    border: rgb(182, 123, 123);
}

.card{
    display: flex;
    justify-content: center;
    grid-template-columns: 1fr 1fr 2fr ;
    
  
}

.card #description{
    text-transform: capitalize;
    color: #523500;
    margin: .3rem 0;
}



h2{
    display: flex;
    justify-content: center;
    background-color: #1a529c;
    color: white;
    padding: 10px;
    margin: 0px;
    border-radius: 1px;
}
.event{
     display: grid;
    grid-column: 2/1;
    margin: 20px;
    border:#1a529c;
    border-radius: 8px;
    
    
    box-shadow: 0 0 10px;
    background-color:rgb(255, 255, 255);
}
.weather{
    display: grid;
    grid-column: 2/1;
    margin: 20px;
    border:#1a529c;
    border-radius: 8px;
    
    
    box-shadow: 0 0 10px;
    background-color:rgb(255, 255, 255);
}
.contenedor{
    display: grid;
    grid-column: 2/1;
    margin: 20px;
    border:#1a529c;
    border-radius: 8px;
    
    
    box-shadow: 0 0 10px;
    background-color:rgb(255, 255, 255);
}
.hero{
    position: relative;
    
}

.heroimage{
    display: grid;
    justify-content: center;
    width: 1600px;
    height: 500px;
    
}