*{
    font-family: "Quattrocento", serif;
    
}


h1{
    text-align: left;
    padding: 10px;
    margin: 10px;
    }

body{
    background-color: white;
}

header{
  
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #1a529c;
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    justify-content: center;

   
}
.container img{
    display: flex;
    justify-content: left;
    margin: 10px;
    padding: 10px;
}
.container span{
    display: flex;
    justify-content: left;
    margin: 60px;
    padding: 10px;
    font-size: 50px;
    color: white;
}
nav ul {
    margin: 0;
    padding: 0;
}
.navigation {
    display: flex;
    justify-content:space-around;
    list-style: none;
    background-color: black;
    padding: 20px;
    font-size: 20px;
    
}
.navigation a:hover, navigation a:active {
    color: rgb(192, 77, 77);
}
.navigation a {
    display: flex;
    list-style: none;
    color: white;
    text-decoration: none;
}
.navigation li {
     margin-right: 10px;
}

footer{
    display: flex;
    justify-content: space-around;
    background-color:rgb(15, 120, 182);
    padding: 20px;
    text-align: center;
    font-size: 25px;
    color: white;
}

.izq{
    
    text-align: left;
}

.der{
    text-align: right;
}

/*         */






main{
    display: flex;
}

h2{
    color: rgb(62, 147, 196);
}
.datos{
   padding: 2px;
   margin: 2rem;
    width: 40%;
}

.datos label{
    padding: .2rem;
    margin: .2rem;
}

.level{
    margin: 2rem 2%;
    padding: 2rem;
    width: 60%;
}

.card{
    display: grid;
    width: 100%;
    max-width: 700px;
    font-size: 23px;
    text-align: center;
    margin: 1rem;
    border: 1px solid #ccc;
    box-shadow:0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    background: rgba(29, 116, 7, 0.473);

}
button{
    padding: .5rem;
    margin: 1rem;
    background-color: rgb(230, 219, 219);
}
button:hover{
    background-color: rgba(187, 30, 64, 0.644);
    cursor: pointer;
}

/*This is for the MODALS*/
dialog {
    border: 1px solid rgb(0 0 0 / 10%);
    border-radius: .25rem;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 0 3rem #777;
    width: 90%;
    max-width: 600px;
}

::backdrop{
    background-color: rgb(0 0 0 / 50%);
}

dialog button{
    position: absolute;
    top: 23px;
    right: 23px;
    padding: .5rem 1rem;
    border: 1px solid rgba(21, 182, 0, 0.1);
}



form{
    margin: 1rem 2%;
    padding: 1rem;
    label{
        display: block;
        font-size: .8rem;
        color: purple;
        padding-top: .2rem;
    }

    h3{
        font-size: 20px;
        color: #d62e00;
        margin: 1.5rem 0 .2rem 0;
        border-bottom: 1px solid #eee;
    }

    input[type=text],
    input[type=tel],
    input[type=date],
    input[type=email],
    textarea,
    select{
        display: block;
        margin: .1rem 0 1rem 0 ;
        padding: .7rem;
        border: 1px solid #999;
        border-radius: 4px;
        border-left-width: 5px;
        border-left-color: #555;
        font-size: 1rem;
        color: #3D405B;
        width: 450px;

    }

    input:required {border-left-color:#d70000;}
    input:focus {border-left-color: black; outline: none;}
    input:required:valid{border-left-color:green;}


    input[type=submit]{
        border: none;
        text-align: center;
        background-color: #3D405B;
        color: white;
        border-radius: 1rem;
        padding: .75rem 1.5rem;
        margin: 2rem 0;
        font-size: 1.2rem;
        -webkit-appearance: none;
        appearance: none;
    }
    input[type=submit]:hover{
    background-color: rgba(187, 30, 64, 0.644);
    cursor: pointer;
}
}
input:webkit-autofill{
    -webkit-text-fill-color: #3D405B;
}


#results{
    background-color: #F4F1DE;
    padding: 0 1rem;
    border: 1px solid #da7a60;
    border-radius: 6px;
    font-size: 30px;
    text-align: center;
}





