*{
    background-color: white;
}

h2{
    display: flex;
    justify-content: center;
    
    color: black;
    padding: 0.5rem;
    margin: 0;
    font-size: 1.5rem;
    
}
#allapartments div{
    margin: 1rem 8px;
    border: 1px solid #000000;
    background-color: #ebd1a6;
    border-radius: 8px;
    overflow: hidden;

    display: grid;
    grid-template-areas: 
    "url"
    "name"
    "address" 
    "description"
    "price";

}

#allapartments div h2{
    margin: 1rem 10px;
     background-color: #ebd1a6;
}


#allapartments div img {
    width: 100%;
    grid-area: url;
     background-color: #ebd1a6;
}

#allapartments div p{
    margin: 1rem 10px;
    font-size: 19px;
    grid-area: description;
     background-color: #ebd1a6;
     display: flex;
     justify-content: center;
}


#allapartments div address {
    margin: 1rem 10px;
    grid-area: address;
     background-color: #ebd1a6;
     display: flex;
     justify-content: center;
}

#allapartments div h3{
    margin: 1rem 10px;
    grid-area: price;
    font-size: 30px;
     background-color: #ebd1a6;
     display: flex;
     justify-content: center;
}