@media only screen and (min-width: 1070px){

    #allapartments{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    /*Second Part*/

    
#menu{
    display: none;
}

.navigation li{
    display: inline-block;
}

nav.open{
    grid-template-rows: unset;
}

/*Buttons*/
.learn-more-btn{
    width: 300px;
}

}