*{
    font-family: "Quattrocento", serif;
}

body{
    background-color: white;
}

/* */

header{
    background-color: rgb(15, 120, 182);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid rgba(0,0,0,0.1);
}



nav{
    background-color: #000000ec;
    margin: 1 auto;
    padding: 1px;
    display: none;
}

li::before{
    display: block;
    content: "≡";
    text-align: right;
}
li.show::before{
    content: "X";
}


nav ul {
    list-style-type: none;
}

nav a {
    display: block;
    color: white;
    text-align:center;
    padding: 1rem;
    text-decoration: none;
}

nav a:hover{
   text-decoration:overline;
    
}

/* Ready/*/



h1{
    color:rgb(15, 120, 182);
}






footer{
    background-color:rgb(15, 120, 182);
    padding: 20px;
    text-align: center;
    
}
.first{
    color: white;
}
.second{
    color: yellow;
}