*{
    font-family: "Quattrocento", serif;
}

body{
    background-color: white;
}

header{
    display: flex;
    justify-content:space-between;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #1a529c;
    position: relative;
}
.me{
    border-radius: 50%;
    position: relative;
    justify-content: center;
    
}
.mitextspan{
    
    color: white;
    font-size: 24px;
    margin-left: 10px;
    justify-content:center;
}
.navigation {
    display: flex;
   
    justify-content:space-around;
    list-style: none;
    background-color: black;
    padding: 10px;
    border-radius: 5px;
}
.navigation a:hover, navigation a:active {
    color: rgb(0, 0, 0);
}
.navigation a {
    display: flex;
    list-style: none;
    color: white;
    text-decoration: none;
}
.navigation li {
     margin-right: 10px;
}
.contenedor{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 30px;

}


.location{
    flex:1;
    border:#1a529c;
    border-radius: 8px;
    min-height: 280px;
    border-radius: 10px;
    box-shadow: 0 0 10px;
    background-color:rgb(255, 255, 255);
    
}

.location img,
h3{
    border-radius: 8px;
    justify-content: center;
   
}
.work{
 flex:2;
    border:#1a529c;
    border-radius: 8px;
    min-height: 280px;
    border-radius: 10px;
    box-shadow: 0 0 10px;
    background-color:rgb(255, 255, 255);
}

h2{
    display: flex;
    justify-content: center;
    background-color: #1a529c;
    padding: 10px;
    margin: 0px;
    border-radius: 1px;
}
/* Ready/*/



h1{
    color:rgb(15, 120, 182);
}






footer{
    background-color:rgb(15, 120, 182);
    padding: 20px;
    text-align: center;
    
}
.first{
    color: white;
}
.second{
    color: yellow;
}